<!-- <div class="container"> -->
<img src="../../../../assets/logo/Logo (2).png" alt="">

<nav class="navbar navbar-expand-sm bg-danger navbar-dark">
    <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#menuIcon" aria-controls="menuIcon" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <!-- <div class="input-group" data-bs-target="#carouselExampleControls">
            <input type="search" class="form-control rounded" placeholder="Search" aria-label="Search" aria-describedby="search-addon" />
            <button type="button" class="btn btn-outline-primary">search</button>
        </div> -->

        <div class="collapse navbar-collapse  " id="menuIcon">
            <div class="navbar-nav">
                <a class="nav-link active" href="#">Home</a>
                <a class="nav-link active" href="#">Politics</a>
                <a class="nav-link active" href="#">Business</a>
                <a class="nav-link active" href="#">Travels</a>
                <a class="nav-link active">International</a>
                <a class="nav-link active">Entertainment</a>
            </div>
        </div>
        <div class="navbar-nav">
            <a class="nav-link active" [routerLink]="['/auth/register']">Register</a>
            <!-- <a class="nav-link active" href="" data-bs-toggle="modal" data-bs-target="#loginModal">Login</a> -->
        </div>

    </div>

</nav>

<!-- Modal -->
<!-- <div class="modal fade" id="loginModal" tabindex="-1" aria-labelledby="loginModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="loginModalLabel">
                    <b>Login to your account</b>
                </h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form [formGroup]="loginForm">
                    <div class="form-group">
                        <label for="username">User Name</label>
                        <input type="text" class="form-control" id="username" name="username" placeholder="Enter username" formControlName="username">
                        <div class="danger" *ngIf="loginFormControl['username'] && loginFormControl['username'].invalid && loginFormControl['username'].touched">
                            <div *ngIf="loginFormControl['username'].errors?.['required']">required field*</div>
                            <div *ngIf="loginFormControl['username'].errors?.['username']">not a valid username</div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="password">Password</label>
                        <input type="password" class="form-control" id="password" name="passord" placeholder="Enter password" formControlName="password">
                        <div class="danger" *ngIf="loginForm.get('password')?.errors && loginForm.get('password')?.invalid && loginForm.get('password')?.touched">
                            <div *ngIf="loginForm.get('password')?.errors?.['required']">required field*</div>
                        </div>
                    </div>
                    <br>
                    <button type="submit" class="btn btn-dark" (click)="login()" data-bs-dismiss="modal">Submit</button>
                    <div>
                        You don't have account? Register <a data-bs-dismiss="modal" [routerLink]="['/admin']">here</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div> -->