<!-- <p>sub-politics works!</p> -->
<div class="container">
    <div class="card">
        <div class="row">
            <div class="card-header" style="background-color: orange;">
                <h1 style="text-align: center; color: white;">
                    <!-- The quick brown fox jumps over the lazy dog -->
                    {{politics[0].title}}
                </h1>
            </div>
            <img src="../../../../assets/images/DSC_0529.JPG" class="card-img-top img-fluid" alt="...">
            <div class="col-sm-8">

                <div class="card-body">
                    <h5>
                        {{politics[0].description}}
                        <!-- <h5 class="card-title">Special title treatment</h5>
                    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                   -->
                        <!-- The quick brown fox jumps over the lazy dogs The quick brown fox jumps over the lazy dogs The quick brown fox jumps over the lazy dogs The quick brown fox jumps over the lazy dogs The quick brown fox jumps over the lazy dogs The quick brown fox jumps
                    over the lazy dogs The quick brown fox jumps over the lazy dogs The quick brown fox jumps over the lazy dogs The quick brown fox jumps over the lazy dogs The quick brown fox jumps over the lazy dogs The quick brown fox jumps over the
                    lazy dogs The quick brown fox jumps over the lazy dogs The quick brown fox jumps over the lazy dogs The quick brown fox jumps over the lazy dogs The quick brown fox jumps over the lazy dogs -->
                    </h5>
                    <a href="#" class="">Go somewhere</a>
                </div>
            </div>
            <div class="col-sm-4" style="background-color: green;">adds</div>
        </div>
    </div>

</div>
<!-- <div class="container p-3">
    <div class="header">
        <h1>
            <b>
            The quick brown fox jumps over the lazy dogs 
            </b>
        </h1>
    </div>
    <img src="../../../../assets/images/DSC_0529.JPG" style="width: 40%; height: 20rem;" alt="" srcset="">
    <div class="row">
        <div class="col-sm-9">
            The quick brown fox jumps over the lazy dogs The quick brown fox jumps over the lazy dogs The quick brown fox jumps over the lazy dogs The quick brown fox jumps over the lazy dogs The quick brown fox jumps over the lazy dogs The quick brown fox jumps
            over the lazy dogs The quick brown fox jumps over the lazy dogs The quick brown fox jumps over the lazy dogs The quick brown fox jumps over the lazy dogs The quick brown fox jumps over the lazy dogs The quick brown fox jumps over the lazy
            dogs The quick brown fox jumps over the lazy dogs The quick brown fox jumps over the lazy dogs The quick brown fox jumps over the lazy dogs The quick brown fox jumps over the lazy dogs
        </div>
        <div class="col-sm-3">

        </div>
    </div>
</div> -->