<nav class="navbar navPolitics p-4" style="background-color: #f7f4f0;">
    <b>
        <h2 class="navbar-brand" style="font-weight: 600; font-size: 25px; ">
            ENTERTAINMENT
        </h2>

    </b>
    <!-- <a class="navbar-brand active text-dark" style="font-size: 25px; font-weight: 500;" >POLITICS</a> -->
</nav>
<div class="container">
    <div class="row">
        <div class="col-sm-8">

            <div class="container cardContainer" *ngFor="let entertainment of entertainment | 
            paginate: {
                itemsPerPage: tableSize, 
                currentPage: page,
                totalItems: count
            } let i = index">
                <!-- <h2>Bootstrap Horizontal Card</h2> -->
                <!-- <hr /> -->
                <div class="card">
                    <div class="row no-gutters">
                        <div class="col-sm-5">
                            <img class="card-img" src="{{imageUrl}}{{entertainment.image[0]}}" style="height: 300px;" alt="Suresh Dasari Card">
                        </div>
                        <div class="col-sm-7">
                            <a routerLink='/user/categories/profile/{{entertainment._id}}'>
                                <h2 class="card-title title">
                                    <b>
                                        {{entertainment.title}}
                                    </b></h2>
                            </a>
                            <p class="card-text description">{{entertainment.description}}</p>
                            <i class="bi bi-clock"></i> {{entertainment.updatedAt | date:'EEEE, d MMMM y, h:mm a'}}
                        </div>
                    </div>
                </div>
            </div>

            <!-- pagination -->
            <pagination-controls previousLabel="Prev" nextLabel="Next" (pageChange)="onTableDataChange($event)"></pagination-controls>
        </div>

        <div class="col-sm-4 relatedTable">
            <!-- related table -->
            <table class="table table-sm " style="margin-top:3%;">
                <thead>
                    <tr>
                        <th scope="col" style="text-align: center; color: black; background-color: #FFD58A;">
                            <h3>
                                Related News
                            </h3>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <div class="card">
                        <div class="row no-gutters">
                            <div class="col-sm-5">
                                <img class="card-img img-fluid" src="{{imageUrl}}{{politics[0].image[0]}}" style="height: 160px; width: 160px;" alt="Suresh Dasari Card">
                            </div>
                            <div class="col-sm-7">
                                <div class="card-body ">
                                    <a routerLink='/user/categories/profile/{{politics[0]._id}}'>
                                        <b><h5 class="recentDescription">
                                            {{politics[0].title}}
                                        </h5>
                                        </b>
                                    </a>
                                    <i class="bi bi-clock"></i> {{politics[0].updatedAt | date:' d MMMM y '}}
                                </div>
                            </div>
                        </div>
                    </div>
                </tbody>
                <tbody>
                    <div class="card">
                        <div class="row no-gutters">
                            <div class="col-sm-5">
                                <img class="card-img img-fluid" src="{{imageUrl}}{{international[0].image[0]}}" style="height: 160px; width: 160px;" alt="Suresh Dasari Card">
                            </div>
                            <div class="col-sm-7">
                                <div class="card-body ">
                                    <a routerLink='/user/categories/profile/{{international[0]._id}}'>
                                        <b><h5 class="recentDescription">
                                            {{international[0].title}}
                                        </h5>
                                        </b>
                                    </a>
                                    <i class="bi bi-clock"></i> {{international[0].updatedAt | date:' d MMMM y '}}
                                </div>
                            </div>
                        </div>
                    </div>
                </tbody>
                <tbody>
                    <div class="card">
                        <div class="row no-gutters">
                            <div class="col-sm-5">
                                <img class="card-img img-fluid" src="{{imageUrl}}{{travel[0].image[0]}}" style="height: 160px; width: 160px;" alt="Suresh Dasari Card">
                                <!-- <img src="../../../../assets/images/DSC_0529.JPG" class="card-img img-fluid" alt="Suresh Dasari Card"> -->
                            </div>
                            <div class="col-sm-7">
                                <div class="card-body">
                                    <a routerLink='/user/categories/profile/{{travel[0]._id}}'>
                                        <b><h5 class="recentDescription">
                                            {{travel[0].title}}
                                        </h5>
                                        </b>
                                    </a>
                                    <i class="bi bi-clock"></i> {{travel[0].updatedAt | date:' d MMMM y '}}
                                </div>
                            </div>
                        </div>
                    </div>
                </tbody>
                <tbody>
                    <div class="card">
                        <div class="row no-gutters">
                            <div class="col-sm-5">
                                <img class="card-img img-fluid" src="{{imageUrl}}{{entertainment[0].image[0]}}" style="height: 160px; width: 160px;" alt="Suresh Dasari Card">
                                <!-- <img src="../../../../assets/images/DSC_0529.JPG" class="card-img img-fluid" alt="Suresh Dasari Card"> -->
                            </div>
                            <div class="col-sm-7">
                                <div class="card-body ">
                                    <a routerLink='/user/categories/profile/{{entertainment[0]._id}}'>
                                        <b><h5 class="recentDescription">
                                            {{entertainment[0].title}}
                                        </h5>
                                        </b>
                                    </a>
                                    <i class="bi bi-clock"></i> {{entertainment[0].updatedAt | date:' d MMMM y '}}
                                </div>
                            </div>
                        </div>
                    </div>
                </tbody>
                <tbody>
                    <div class="card">
                        <div class="row no-gutters">
                            <div class="col-sm-5">
                                <img class="card-img img-fluid" src="{{imageUrl}}{{business[0].image[0]}}" style="height: 160px; width: 160px;" alt="Suresh Dasari Card">
                                <!-- <img src="../../../../assets/images/DSC_0529.JPG" class="card-img img-fluid" alt="Suresh Dasari Card"> -->
                            </div>
                            <div class="col-sm-7">
                                <div class="card-body ">
                                    <a routerLink='/user/categories/profile/{{business[0]._id}}'>
                                        <b><h5 class="recentDescription">
                                            {{business[0].title}}
                                        </h5>
                                        </b>
                                    </a>
                                    <i class="bi bi-clock"></i> {{business[0].updatedAt | date:' d MMMM y '}}
                                </div>
                            </div>
                        </div>
                    </div>
                </tbody>
                <tbody>
                    <div class="card">
                        <div class="row no-gutters">
                            <div class="col-sm-5">
                                <img class="card-img img-fluid" src="{{imageUrl}}{{lifeStyle[0].image[0]}}" style="height: 160px; width: 160px;" alt="Suresh Dasari Card">
                                <!-- <img src="../../../../assets/images/DSC_0529.JPG" class="card-img img-fluid" alt="Suresh Dasari Card"> -->
                            </div>
                            <div class="col-sm-7">
                                <div class="card-body ">
                                    <a routerLink='/user/categories/profile/{{lifeStyle[0]._id}}'>
                                        <b><h5 class="recentDescription">
                                            {{lifeStyle[0].title}}
                                        </h5>
                                        </b>
                                    </a>
                                    <i class="bi bi-clock"></i> {{lifeStyle[0].updatedAt | date:' d MMMM y '}}
                                </div>
                            </div>
                        </div>
                    </div>
                </tbody>
            </table>

            <div class="card" style="height: 11%; background-color: green;">
                add space
            </div>
        </div>

    </div>

</div>