<nav class="navbar navPolitics p-4" style="background-color: #f7f4f0;">
    <b>
        <h2 class="navbar-brand" style="font-weight: 600; font-size: 25px; text-transform: uppercase;">
            {{news.categories}}
        </h2>

    </b>
</nav>

<div class="container">
    <h1 style="padding: 20px;">
        {{news.title}}

    </h1>
    <div class="row">
        <div class="col-sm-8">
            <!-- <div class="col  m-2"> -->
            <div class="card bg-dark text-white">
                <img src="{{imageUrl}}{{news.image[0]}}" class="img-fluid img-big" style="width: 100%;" alt="">
                <div class="card-img-overlay " style="padding-top: auto;">

                    <p style="text-align: center;">
                        <h4>
                            <i class="bi bi-clock"></i> {{news.updatedAt | date:'EEEE, d MMMM y, h:mm a'}}
                        </h4>
                </div>
                <!-- </div> -->
            </div>

            <!-- <img src="{{imageUrl}}{{news.image[0]}}" class="img-fluid" alt="" style="height: 450px; width: 100%;  border-radius: 10px;"> -->
        </div>
        <div class="col-sm-4">
            <div class="col-12 " style="height: 95%; background-color: goldenrod; margin: 30px; padding: 10px;">
                ads1
            </div>
        </div>
    </div>
    <div class="12 mt-4">
        <h5>
            {{news.description}}
        </h5>
    </div>
    <!-- <div class="12 mt-4 " style="background-color: rgb(240, 240, 240); border-radius: 10px; padding:20px ;"> -->
    <!-- <h5>
            {{news.description}}
        </h5>
    </div> -->

</div>
<!-- 
<div class="container-fluid">
    <div class="row mt-4">
        <div class="col-lg-6">
            <a>
                <img src="{{imageUrl}}{{news.image[0]}}" class="img-fluid" alt="" style="height: 450px; width: 100%;">
            </a>
        </div>

        <div class="col-lg-6 mt-3" style="background-color: rgb(228, 228, 228); border-radius: 10px">
            <h4>
                {{news.title}}
            </h4>
        </div>
    </div>
    <div class="col-12"></div>
    <div class="12 mt-4 " style="background-color: rgb(228, 228, 228); border-radius: 10px; padding:20px ;">
        <h5>
            {{news.description}}
        </h5>
    </div>
    
</div> -->



<div class="container-fluid mt-5">
    <h1 class=" text-black " style=" padding-left: 10px; margin:10px; height: 50px; border-radius: 10px; background-color: #FFD58A; ">
        RELATED NEWS
    </h1>

    <owl-carousel-o [options]="customOptions">

        <ng-template carouselSlide>
            <div class="card" style="width: 25rem;padding: 4px;">
                <img src="{{imageUrl}}{{politics[0].image[0]}}" class="img-fluid img-big" style="width: 100%;" alt="">

                <div class="card-body" style="background-color: rgb(240, 240, 240);">
                    <p class="card-text">
                        <a routerLink='/user/categories/politics'>
                            <h5 class="card-title description" style="font-size: 30px; color:black;">{{politics[0].title}}</h5>
                        </a>
                        <h4>
                            <i class="bi bi-clock"></i> {{politics[0].updatedAt | date:'EEEE, d MMMM y'}}
                        </h4>
                </div>
            </div>
        </ng-template>
        <ng-template carouselSlide>
            <div class="card" style="width: 25rem;padding: 4px;">
                <img src="{{imageUrl}}{{entertainment[0].image[0]}}" class="img-fluid img-big" style="width: 100%;" alt="">

                <div class="card-body" style="background-color: rgb(240, 240, 240);">
                    <p class="card-text">
                        <a routerLink='/user/categories/entertainment'>
                            <h5 class="card-title description" style="font-size: 30px; color:black;">{{entertainment[0].title}}</h5>
                        </a>
                        <h4>
                            <i class="bi bi-clock"></i> {{entertainment[0].updatedAt | date:'EEEE, d MMMM y'}}
                        </h4>
                        <!-- </p> -->
                </div>
            </div>
        </ng-template>
        <ng-template carouselSlide style="padding: 4px;">
            <div class="card" style="width: 25rem;padding: 4px;">
                <img src="{{imageUrl}}{{travel[0].image[0]}}" class="img-fluid img-big" style="width: 100%;" alt="">

                <div class="card-body" style="background-color: rgb(240, 240, 240);">
                    <p class="card-text">
                        <a routerLink='/user/categories/travels'>

                            <h5 class="card-title description" style="font-size: 30px; color:black;">{{travel[0].title}}</h5>
                        </a>
                        <h4>
                            <i class="bi bi-clock"></i> {{travel[0].updatedAt | date:'EEEE, d MMMM y'}}
                        </h4>
                </div>
            </div>
        </ng-template>

    </owl-carousel-o>
</div>