.description {
    font-size: medium;
    font-weight: 400;
    overflow: hidden;
    /* border: 2px solid black; */
    height: 70px;
}

a {
    text-decoration: none;
}

.myrow {
    height: 235px;
    margin-bottom: 10px;
}

@media (max-width:414px) {
    .myADs {
        display: none;
    }
}